<!-- Footer that will be used on all pages -->
<footer>
    <h2>&copy; 2023 Gregslist</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Sell Something</a></li>
        </ul>
    </nav>
</footer>