<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: '404 Error | Greglist'}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <h2>404 Error Page</h2>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>