<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: 'About | Gregslist'}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <h2>Who is Greg?</h2>
        <p>Greg is a regular human being just like you. He is a self-made multi-billionaire and the founder of this ultra-exclusive online marketplace that caters to the wealthy. Born into a upper-upper-class family, Greg always had an entrepreneurial spirit and started his first business at the age of 13 with a modest million dollar loan given to him by his father. He quickly realized that there was a demand for luxury goods among the rich and famous, and decided to focus his efforts on serving this niche market.</p>
        <p>Over the years, Greg's business has grown into a multi-billion dollar empire, with customers from all over the world clamoring to purchase the rarest luxury cars, megayachts, private jets, and one-of-a-kind properties. He has become a household name among the elite, and is known for his discerning taste and impeccable style.</p>
        <p>Despite his immense wealth and success, Greg is notoriously private and rarely grants interviews or makes public appearances. He prefers to spend his time traveling the world, collecting rare works of art, and indulging in his love of gourmet cuisine and fine wines. He is often described as aloof and unrelatable, as he seems to exist in a world of his own making.</p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>