<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: `Create New Listing | Gregslist`}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        
        <h2>Create New Listing</h2>
        <form method="POST" action="/products">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
          
            <label for="city">City</label>
            <input type="text" id="city" name="city" required>
          
            <label for="state">State</label>
            <input type="text" id="state" name="state">
          
            <label for="country">Country</label>
            <input type="text" id="country" name="country" required>
          
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="">Select One</option>
                <option value="Yachts">Yachts</option>
                <option value="Private Jets">Private Jets</option>
                <option value="Luxury Cars">Luxury Cars</option>
                <option value="Private Islands">Private Islands</option>
                <option value="Residences">Residences</option>
            </select>
          
            <label for="photo">Photo</label>
            <input type="text" id="photo" name="photo" required>
          
            <label for="condition">Condition</label>
            <select id="condition" name="condition" required>
                <option value="">Select One</option>
                <option value="New">New</option>
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
            </select>
          
            <label for="askingPrice">Asking Price</label>
            <input type="text" id="askingPrice" name="askingPrice" required>
          
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" min=0 required>
          
            <label for="isFeatured">Featured?</label>
            <select id="isFeatured" name="isFeatured" required>
                <option value="">Select One</option>
                <option value="true" <% if (product.isFeatured === true) { %> selected <% } %>>Yes</option>
                <option value="false" <% if (product.isFeatured === false) { %> selected <% } %>>No</option>
            </select>
          
            <button type="submit">Submit</button>
          </form>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>