<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: `Sell Something | Gregslist`}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <form method="POST" action="/products">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
          
            <label for="city">City</label>
            <input type="text" id="city" name="city" required>
          
            <label for="state">State</label>
            <input type="text" id="state" name="state">
          
            <label for="country">Country</label>
            <input type="text" id="country" name="country" required>
          
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="">Select One</option>
                <option value="yachts" <% if (product.category === 'yachts') { %>selected<% } %>>Yachts</option>
                <option value="private jets" <% if (product.category === 'private jets') { %>selected<% } %>>Private Jets</option>
                <option value="luxury cars" <% if (product.category === 'luxury cars') { %>selected<% } %>>Luxury Cars</option>
                <option value="private islands" <% if (product.category === 'private islands') { %>selected<% } %>>Private Islands</option>
                <option value="residences" <% if (product.category === 'residences') { %>selected<% } %>>Residences</option>
            </select>
          
            <label for="photo">Photo</label>
            <input type="text" id="photo" name="photo" required>
          
            <label for="condition">Condition</label>
            <select id="condition" name="condition" required>
                <option value="">Select One</option>
                <option value="new" <% if (product.condition === 'new') { %>selected<% } %>>New</option>
                <option value="excellent" <% if (product.condition === 'excellent') { %>selected<% } %>>Excellent</option>
                <option value="good" <% if (product.condition === 'good') { %>selected<% } %>>Good</option>
            </select>
          
            <label for="askingPrice">Asking Price</label>
            <input type="text" id="askingPrice" name="askingPrice" required>
          
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" min=0 required>
          
            <label for="isFeatured">Featured?</label>
            <input type="checkbox" id="isFeatured" name="isFeatured" value="true">
          
            <button type="submit">Submit</button>
          </form>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>